In [1]:
a = "makesh"
print (a)

makesh

In [1]:
ravi = 5+3
ravi2 = "pooja"
print (ravi)
ravi2

8

'pooja'

In [2]:
suresh = 55+766
suresh2 = "kavitha"+ "kumari"
print (suresh)
suresh2

821

'kavithakumari'

In [4]:
x,y,z = "gayathiri",566,"nithya rubini"
print('my name is:', x)
print("y is",y)
print(z)

my name is: gayathiri
y is 566
nithya rubini

In [5]:
a=b=c=78
print(a)

78

In [6]:
s = int(input("enter a number"))
t = int(input("enter a second number"))
print(s)
print(t)

54
7

In [7]:
s = int(input("enter a number"))
t = int(input("enter a second number"))
u = s+t
print(u)

165

In [10]:
s = float(input("enter a number"))
t = float(input("enter a second number"))
u = s-t
print(u)

-31.0

In [11]:
s = str(input("enter a name"))
t = str(input("enter a second name"))
u = s+t
print(u)

ushadevi

In [13]:
name1 = input("enter a name")
name2 = input("enter a second name")
final_name = name1+name2


print(f"my full name is:{final_name}")

my full name is:rubinirangan

In [14]:
a = 10
b = 20
c = a+b
print(f"c is{c}",type(c))

c is30 <class 'int'>

In [20]:
a = 6
b = 8
print("a is {} b is {}".format(a,b))
print("a is {a} b is {b}".format(a=10,b=7))

a is 6 b is 8
a is 10 b is 7

arithmetic operators

In [24]:
a = 30
b = 40
print (a+b)

a = 30
b = 40
print (a-b)

a = 30
b = 40
print(a*b)

a = 30
b = 40
print(a/b)

a = 30
b = 40
print(a%b)

a = 30
b = 40
print(a**b)

a = 30
b = 40
print(a//b)

70
-10
1200
0.75
30
121576654590569288010000000000000000000000000000000000000000
0

comparision (relational)operator(true or false)

In [25]:
num1 = 67
num2 = 87
num3 = num1==num2
print(num3)

False

In [26]:
num1 = 67
num2 = 87
num3 = num1!=num2
print(num3)

True

In [27]:
num1 = 67
num2 = 87
num3 = num1<num2
print(num3)

True

In [28]:
num1 = 67
num2 = 87
num3 = num1>num2
print(num3)

False

In [29]:
num1 = 67
num2 = 87
num3 = num1<=num2
print(num3)

True

In [30]:
num1 = 67
num2 = 87
num3 = num1>=num2
print(num3)

False

logical operator (and,or,not)true or false

In [31]:
a = 88
b = 90
a>b and a<b

False

In [32]:
a = 88
b = 90
a>b or a<b

True

In [35]:
a = 88
b = 90
a>=b or a!=b

True

In [33]:
a = 88
not a

False

In [34]:
a = ()
not a

True

BITWISE operator(&,|,^,~,<<,>>) and,or,xor,not,left shift,right shift

In [36]:
56&56

56

In [37]:
56&5

0

In [39]:
54|9

63

In [38]:
47^5

42

In [40]:
~5

-6

In [41]:
~-7

6

In [42]:
47<<5

1504

In [43]:
47>>5

1

assigment operator(=,+=,-=,*=,/=,%=,**=,//=,&=,|=,^=,<<=,>>=)

In [44]:
num1=7
print(num1)

num1=7
num2=5
num1+=num2 
print(num1)

num1=7
num2=5
num1-=num2 
print(num1)

num1=7
num2=5
num1*=num2 
print(num1)

num1=7
num2=5
num1/=num2 
print(num1)

num1=7
num2=5
num1%=num2 
print(num1)


num1=7
num2=5
num1**=num2 
print(num1)

num1=7
num2=5
num1//=num2 
print(num1)

num1=7
num2=5
num1 &=num2 
print(num1)

num1=7
num2=5
num1|=num2 
print(num1)

num1=7
num2=5
num1^=num2 
print(num1)

num1=7
num2=5
num1<<=num2 
print(num1)

num1=7
num2=5
num1>>=num2 
print(num1)

7
12
2
35
1.4
2
16807
1
5
7
2
224
0

membership operator (in not in )true 0r false

In [46]:
3 in [1,2,3,4,5]

True

In [47]:
"sowndarya"in "selfish mode"

False

In [49]:
3 not in [1,2,3,4,5]

False

In [48]:
"sowndarya" not in "selfish mode"

True

identity operator(is,is not)true or false

In [52]:
a = ["sowndarya","songappan"]
b = ["sowndarya","songappan"]
print (a is b)
print (a is not b)
print (id(a))
print (id(b))
print (a==b)

False
True
3219738469696
3219739446912
True

In [54]:
x = 8
x += 10
print("x+=:",x)

x = 8
x -= 10
print("x-=:",x)

x+=: 18
x-=: -2

In [55]:
a = 8
b = 10
print("a is", a+b)
print("a is", a-b)
print("a is", a/b)
print("a is", a%b)
print("a is", a*b)

a is 18
a is -2
a is 0.8
a is 8
a is 80

In [57]:
a =[1,2,3,4,5]

print(3 not in a)
print(3 in a)

False
True

In [58]:
a =3
b=5
a,b = b,a
print(a,b)

5 3

In [2]:
def count_0f_string(varchar,uvara):
    return varchar.count(uvara)

result =count_0f_string("sowndarya","s")
print(f"character 's'appear:, {result} times")

character 's'appear:, 1 times

In [1]:
s = "hello, subiksha!"
s_split = s.split(",")
s_join ="-".join(s_split)

s_join

'hello- subiksha!'

In [12]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
initial_planet = {planet: planet[0] for planet in planets if planet != 'Earth'}
initial_planet

{'Mercury': 'M',
 'Venus': 'V',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [15]:
for planet, initial in initial_planet.items():
    print("{} begins with \"{}\"".format(planet.rjust(8),initial))

 Mercury begins with "M"
   Venus begins with "V"
    Mars begins with "M"
 Jupiter begins with "J"
  Saturn begins with "S"
  Uranus begins with "U"
 Neptune begins with "N"

In [17]:
my_dict = {}
for i in range(2):
    key = input("enter a key:")
    value = input("enter a value:")
    my_dict[key]= value
    print (my_dict)

{'suresh': '50'}
{'suresh': '50', 'ramesh': '20'}

In [19]:
a = int(input("Enter a number:"))
if a<2:
    print( "it is not a prime number")
else:
    prime = True
    for i in range (2,a):
        if a%i==0: 
           prime = False 
           break
    if prime:
        print(a, "is a prime number")   
    else:
        print(a, "is not a prime number")

4 is not a prime number

In [20]:
a = range(70)
list =[]
for i in a:
    if i%3==0:
        list.append(i)
print (list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [21]:
a = [[1,2,3],[4,5,6],[6,7,8]]
product = 2
b =[]
for i in a:
    for s in i:
        product*=s
        b.append(product)
print (b)

[2, 4, 12, 48, 240, 1440, 8640, 60480, 483840]

In [22]:
count = 0
while count <5:
    print(count)
    count+=1

0
1
2
3
4

In [26]:
total =0
count = 1
while total < 10:
    total += count
    count += 1
print(f"the sum is {total}")

the sum is 10

In [27]:
secret_number = 5
guess = 0
while guess != secret_number:
  guess = int(input("guess the secret number"))
print("congratulation you guess correct secret number")

congratulation you guess correct secret number

In [28]:
x = [1,2,3,4,5,6]
length = 0
while length<len(x):
    print(x)
    length+=1

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [31]:
z = 0
while z<3:
    if z==0:
      print("z is iteration of 1",z)
      z+=1
    elif z==1:
       print("z is iteration of 2",z) 
       z+=1
    else:
       print("z is iteration of 3",z)       
       z+=1

z is iteration of 1 0
z is iteration of 2 1
z is iteration of 3 2

In [34]:
a =[1,2,3,44,5,6]
sum = 0
index =0
while index<len(a):
    sum+=a[index]
    index+=1
print(sum)

61

In [39]:
a = 1
while a<=1:
    b=1
    while b<=5:
        print(b**2,end=' ')
        b=b+1
    a=a+1

1 4 9 16 25

In [41]:
a =range(10)
for i in a:
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [42]:
a=['Kruthick','Chandan', 'Shashi', 'Madesh','Harshitha', 'Hema','Benki']
for i in a:
    if i == 'Madesh':
        break
    print(i)

Kruthick
Chandan
Shashi

In [45]:
a = range(150)
for i in a:
    if i%4 == 0:
        print(i)
    if i==36:
        break

0
4
8
12
16
20
24
28
32
36

In [54]:
numbers = [10, 20, 30, 40, 50]
for num in numbers:
    if num ==40:
        pass
    print(num)

10
20
30
40
50

In [58]:
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [59]:
count = 0
while count<5:
    if count ==3:
        break
    print(count)
    count+=1

0
1
2

In [60]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in enumerate(numbers):
    if num[0]==5:
        continue
    print(num)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [61]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
    if num%2 != 0:
       continue
    print(f"{num},is a even number")

2,is a even number
4,is a even number
6,is a even number
8,is a even number
10,is a even number

In [1]:

first_name = "sowndarya"
last_name = "nowsika"
Full_name = first_name,last_name
concatenated_name =(lambda x,y:x+y, Full_name)
print("Full name:", concatenated_name)

Full name: (<function <lambda> at 0x000001DF7BCE3560>, ('sowndarya', 'nowsika'))

In [ ]:
movie_ratings = {}

# Function to add a movie and its rating to the dictionary
def add_movie_rating(movie_name, rating):
    movie_ratings[movie_name] = rating

# Function to calculate the average rating of all the movies in the dictionary
def get_average_rating():
    if len(movie_ratings) == 0:
        return 0
    total_rating = sum(movie_ratings.values())
    average_rating = total_rating / len(movie_ratings)
    return round(average_rating, 2)

# Function to recommend a movie based on its rating
def recommend_movie():
    for movie, rating in movie_ratings.items():
        if rating >= 8.5:
            return f"{movie} - Must Watch!"
    return "No highly recommended movies available."

# Function to find the movie with the highest rating
def find_highest_rated_movie():
    if len(movie_ratings) == 0:
        return None
    highest_rated_movie = max(movie_ratings, key=movie_ratings.get)
    return highest_rated_movie

# Main function to interact with the user and display results
def main():
    print("Welcome to the Movie Ratings Analyzer!")
    
    # Get movie names and ratings from the user
    for i in range(1, 6):
        movie_name = input(f"Movie {i} Name: ")
        rating = float(input(f"Rating: "))
        add_movie_rating(movie_name, rating)
    
    # Calculate and display the average rating
    average_rating = get_average_rating()
    print(f"\nThe average rating of all movies: {average_rating}")
    
    # Recommend a movie based on its rating
    recommendation = recommend_movie()
    print(f"Recommended movie: {recommendation}")
    
    # Display the highest-rated movie
    highest_rated_movie = find_highest_rated_movie()
    print(f"Highest-rated movie: {highest_rated_movie}")

# Run the main function
if __name__ == "__main__":
    main()

Welcome to the Movie Ratings Analyzer!