functions, lambda, map and filtering

In [1]:
def myfunction(parameter1,parameter2):
    result = parameter1 + parameter2
    return result
#calling a function:
myfunction(1,2)

3

In [2]:
myfunction(44,68)

112

In [3]:
def add_numbers(x=1, y=2):
    result = x+y
    return result

add_numbers()

3

In [4]:
add_numbers(75,25)

100

In [5]:
def add():
    x=int(input("enter the number"))
    y=int(input("enter the second number"))
    z=x+y
    print(z)
add()

110

In [6]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    if num %2==0:
        print(num, end =" ")

2 4 6 8 10

In [11]:
def div(numbers):
    for num in numbers:
        if num% 2==0:
            print(f"{num}is divisible by 2")

In [12]:
a = [1,2,3,4,5,6,7,8,9,10]
div(a)

2is divisible by 2
4is divisible by 2
6is divisible by 2
8is divisible by 2
10is divisible by 2

In [28]:
def div(numbers):
    divisible_by_2 =[]
    for num in numbers:
        if num% 2==0:
            divisible_by_2.append(num)
    return divisible_by_2

In [18]:
a = [1,2,3,4,5,6,7,8,9,10]
div(a)

[2, 4, 6, 8, 10]

In [19]:
def divis(numbers):
    return[num for num in numbers if num%2==0]
no = [1,2,3,4,5,6,7,8,9,10]
div(no)

[2, 4, 6, 8, 10]

In [21]:
x=int(input("enter the number"))
y=int(input("enter the second number"))
def add1(x,y):
    z = x+y
    print("The addition is", z)
add1(x,y)

The addition is 13

In [22]:
def greet(p):
    return print('Hello', str(p))
a= 'Rashmi'
b= 'sowndarya'
c= 'bavan'

greet((a,b,c))

Hello ('Rashmi', 'sowndarya', 'bavan')

In [23]:
def sqcb(a):
    '''
    This function returns the square and cube of a given number
    '''
    return a**2, a**3

sqcb(10)

(100, 1000)

In [24]:
def mod_5(x):
    """ return the remainder of x after dividing by 5"""
    return x%5

print(
    'which number is the biggest modulo 5?',
    max(00,51,14,key =mod_5),
    sep='\n',
)

which number is the biggest modulo 5?
14

lambda expression (lambda):

In [25]:
add = lambda x,y: x+y
result = add(3,5)
result

8

In [26]:
enen = lambda x:x%2==0
enen (2)

True

In [27]:
enen = lambda x : [i for i in x if i%2==0]
print (enen([1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [28]:
def cube(x): return x**3

cube_v2 = lambda x :x**3

print(cube(7))
print(cube_v2(7))

343
343

mapping function

In [29]:
def squareit(num):
     """ This functions returns square of a given number"""
     return num**2
 
squareit(11)

121

In [30]:
list1 =[1,2,3,4,5,6]
squaredlist = list (map(squareit, list1))
print(squaredlist)

[1, 4, 9, 16, 25, 36]

In [31]:
list2 =[1,2,3,4,5,6,7,8,9,10]
list1 = list(map(lambda x: x*3, list2))
print(list1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [39]:
list2 =[1,2,3,4,5,6,7,8,9,10]
list1 = list(map(lambda x:x if x%2==0 else'', list2))
print(list1)

['', 2, '', 4, '', 6, '', 8, '', 10]

In [41]:
def even(x):
    if x%2 ==0:
        return x
    else:
        return''
list1 = list(map(even, list2))
print(list1)

['', 2, '', 4, '', 6, '', 8, '', 10]

In [32]:
list2 =[1,2,3,4,5]
list1 =map(lambda x: x*3, list2)
for num in list1:
    if num%2 == 0:
        print(num,end =" ")

6 12

filter()functions:

In [42]:
list2 =[1,2,3,4,5,6,7,8,9,10]
list1 =list(filter(lambda x: x%2==0, list2))
print(list1)

[2, 4, 6, 8, 10]

In [1]:
def divisibleby_3(a):
    """
    This function return a nubmer only if it is divisile by 3 
    """
    if(a % 3 == 0):
       return a

In [2]:
list1 = range(-10,10)
print(list(filter(divisibleby_3,list1)))

[-9, -6, -3, 3, 6, 9]

In [3]:
list1 = range(-10,10)
print(list(filter(divisibleby_3,list1)))

[-9, -6, -3, 3, 6, 9]

In [5]:
lst = range(20)
evenlst = list(filter(lambda x:(x%2==0), lst))
print(evenlst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

REDUCE FUNCTION

In [10]:
from functools import reduce
numbers=[1,2,3,4,5]
sum_result = reduce(lambda x,y: x+y, numbers)
print("sum", sum_result)

sum 15

In [11]:
words=["hello"," ","world","!"]
concatenated_string = reduce(lambda x,y: x+y, words)
print("concatenated string:", concatenated_string)

concatenated string: hello world!

In [12]:
values =[45,67,12,89,34]
max_value = reduce(lambda x,y: x if x>y else y, values)
print("maximum value:",max_value)

maximum value: 89

doc strings

In [13]:
def greet(p):
    """
    This function returns the greeting for a given name. 
    """
    return print('hello', str(p))
greet('praveen')

hello praveen

In [14]:
print(greet.__doc__)

    This function returns the greeting for a given name.

In [15]:
from statistics import mean
print(len.__doc__)

Return the number of items in a container.

In [20]:
def squarelist(a):
    
    """
    This function returns square of numbers in a list. 
    """
    b=[]
    for i in a:
        b.append(i**2)
    return b   
 #recall 
squarelist([1,2,3,4])

[1, 4, 9, 16]

In [21]:
def squarelist(a):
    
    """
    This function returns square of numbers in a list. 
    """
    b=[]
    for i in a:
        print(i**2)
    
 #recall 
squarelist([1,2,3,4])

1
4
9
16

In [22]:
squarelist([5,6,7,8,9])

25
36
49
64
81

In [23]:
print(squarelist.__doc__)

    This function returns square of numbers in a list.

few more properties of function:

In [24]:
def calculate_rectangle_area(length, width):
    area = length * width
    return area

#example usage
rectangle_area = calculate_rectangle_area(5,8)
print("rectangle area:",rectangle_area)

rectangle area: 40

In [25]:
def celsius_to_fahrenheit(celsius):
   fahrenheit = (celsius * 9/5)+ 32
   return fahrenheit

#example usage
temperature_celsius = 25
temperature_fahrenheit = celsius_to_fahrenheit(temperature_celsius)
print(f"{temperature_celsius} celsius is {temperature_fahrenheit}fahrenheit")

25 celsius is 77.0fahrenheit

In [26]:
def is_prime(number):
    if number<2:
        return False
    for i in range(2, int(number**0.5)+1):
        if number % i ==0:
            return False
    return True  
#example usage
check_number = 13
print(f"{check_number} is prime: {is_prime(check_number)}")

13 is prime: True

In [27]:
square = lambda x:x**2
#example usage
number =7
result = square(number)
print(f"the square of {number} is {result}")

the square of 7 is 49

In [23]:
letter_to_number = {
'a': 1,
'b': 2,
'c': 3,
'd': 4,
'e': 5,
'f': 6,
'g': 7,
'h': 8,
'i': 9,
'j': 10,
'k': 11,
'l': 12,
'm': 13,
'n': 14,
'o': 15,
'p': 16,
'q': 17,
'r': 18,
's': 19,
't': 20,
'u': 21,
'v': 22,
'w': 23,
'x': 24,
'y': 25,
'z': 26
}


encoded_messages = [
    '18-5-3-1-4',
    '2-5-20-12-5',
    '15-14-5-7-5-1',
    '23-8-1-20',
    '1-3-20-9-15-14',
    '18-5-1-12-12-25',
    '20-8-5',
    '13-5-19-19-1-7-5',
    '3-8-1-12-12-5-14-7-5',
    '2-8-1-22-1-14',
    '19-15-21-14-4-1-18-25-1', 
    '18-1-19-8-13-9',
]

In [24]:
def get_key(val):
    for key,value in letter_to_number.items():
        if val == value:
            return key
    return "key doesn't exist"

In [25]:
final =[]
for i in encoded_messages:
    s=''
    for j in i.split('-'):
        s+= str(get_key(int(j)))
    final.append(s)
    
print(final)

['recad', 'betle', 'onegea', 'what', 'action', 'really', 'the', 'message', 'challenge', 'bhavan', 'soundarya', 'rashmi']

decoding

In [26]:
letter_to_number = {
    'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10,
    'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19,
    't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26
}

texts = [
    'recad',
    'betle',
    'onegea',
    'what',
    'action',
    'really',
    'the',
    'message',
    'challenge',
    'Bhavan',
    'Soundarya',
    'Sashmi'
]

In [27]:
def text_to_numerical(text):
    numbers = []
    for char in text:
        lower_char = char.lower()#convert the character to lowercase
        if lower_char in letter_to_number: 
            numbers.append(str(letter_to_number[lower_char]))
    return '-'.join(numbers)

In [28]:
encoded_messages=[]
for text in texts:
    encoded_message = text_to_numerical(text)
    encoded_messages.append(encoded_message)
    
    for encoded in encoded_messages:
        print(encoded)

18-5-3-1-4
18-5-3-1-4
2-5-20-12-5
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-1-12-12-25
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-1-12-12-25
20-8-5
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-1-12-12-25
20-8-5
13-5-19-19-1-7-5
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-1-12-12-25
20-8-5
13-5-19-19-1-7-5
3-8-1-12-12-5-14-7-5
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-1-12-12-25
20-8-5
13-5-19-19-1-7-5
3-8-1-12-12-5-14-7-5
2-8-1-22-1-14
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-1-12-12-25
20-8-5
13-5-19-19-1-7-5
3-8-1-12-12-5-14-7-5
2-8-1-22-1-14
19-15-21-14-4-1-18-25-1
18-5-3-1-4
2-5-20-12-5
15-14-5-7-5-1
23-8-1-20
1-3-20-9-15-14
18-5-1-12-12-25
20-8-5
13-5-19-19-1-7-5
3-8-1-12-12-5-14-7-5
2-8-1-22-1-14
19-15-21-14-4-1-18-25-1
19-1-19-8-13-9

let us try to build a simple calculator by using function

In [ ]:
#Function to perform addition
def add(x, y):
    return x + y

#Function to perform subtraction
def subtract(x, y):
    return x - y

#Function to perform multiplication
def multiply(x, y):
    return x * y

#Function to perform division
def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Error: Division by zero"

#Main program
print("Simple Calculator")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice (1/2/3/4): ")

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
    print("Result:", add(num1, num2))
elif choice == '2':
    print("Result:", subtract(num1, num2))
elif choice == '3':
    print("Result:", multiply(num1, num2))
elif choice == '4':
    print("Result:", divide(num1, num2))
else:
    print("Invalid choice")

Dummy student names
students = ['Alice', 'Bob', 'Charlie', 'David', 'Eva']

Dummy grades for each student (Math, Science, English, History)
grades = {
    'Alice': [90, 85, 92, 88],
    'Bob': [78, 95, 80, 70],
    'Charlie': [82, 60, 75, 88],
    'David': [65, 70, 68, 75],
    'Eva': [88, 92, 45, 90]
}

In [7]:
##Dummy student names
students = ['Alice', 'Bob', 'Charlie', 'David', 'Eva']

#Dummy grades for each 

subjects =('Math', 'Science', 'English', 'History')
grades = {
    'Alice': [90, 85, 92, 88],
    'Bob': [78, 95, 80, 70],
    'Charlie': [82, 60, 75, 88],
    'David': [65, 70, 68, 75],
    'Eva': [88, 92, 45, 90]
}

In [15]:
def average_grade (grade_list):
    return sum(grade_list)/len(grade_list)
for name in students:
    print(f"average garde for {name}:",average_grade(grades[name]))

average garde for Alice: 88.75
average garde for Bob: 80.75
average garde for Charlie: 76.25
average garde for David: 69.5
average garde for Eva: 78.75

In [17]:
def highest_grade_subjects(grade_list):
    subjects = ['Math', 'Science', 'English', 'History']
    max_grade = max(grade_list)
    max_index = grade_list.index(max_grade)
    return subjects [max_index]

print ("subject with highest grade for eva:", highest_grade_subjects(grades['Eva']))

subject with highest grade for eva: Science

In [10]:
def passing_students(grade_dict):
    pass_students =[]
    for student,grade_list in grade_dict.items():
        if all(grade >= 50 for grade in grade_list):
            pass_students.append(student)
    return pass_students

print("passing students:",passing_students(grades))

passing students: ['Alice', 'Bob', 'Charlie', 'David']

In [11]:
def subject_wise_performance(grades_dict):
    performance ={}
    
    for subject in subjects:
        subject_grades =[]
        
        for student in grades_dict:
            grade_index = subjects.index(subject)
            subject_grades.append(grades_dict[student][grade_index])
            
        performance[subject]=average_grade(subject_grades)  
        
    return performance    
print("subject_wise_performance:", subject_wise_performance(grades))

subject_wise_performance: {'Math': 80.6, 'Science': 80.4, 'English': 72.0, 'History': 82.2}

In [12]:
def students_failed_subject(grades_dict,subject):
    failed_students =[]
    for student,grades_list in grades_dict.items():
        if grades_list[subjects.index(subject)]< 50:
            failed_students.append(student)
    return failed_students
for subject in subjects:
    print(f"students failed in {subject}:",students_failed_subject(grades, subject))

students failed in Math: []
students failed in Science: []
students failed in English: ['Eva']
students failed in History: []

In [13]:
def overall_performance (grades_dict):
    best_student = max(grades_dict, key=lambda student: average_grade(grades_dict[student]))
    return best_student

print("overall best performing student:", overall_performance(grades))

overall best performing student: Alice

Question:
Write a Python function Role that, given an actor's name, determines and prints the roles (Hero, Heroine, Villain) played by that actor in various movies from a predefined dictionary, considering the priority of roles as Hero > Heroine > Villain.

Hints

Start by defining the Role function with one parameter, Name_of_actor.
Create a dictionary called movies with movie names as keys and lists of actors as values.
Initialize three empty lists: Hero, Heroine, and Villain to store the roles played by the actor.
Use a loop to iterate through the movies dictionary.
Within the loop, check if the Name_of_actor exists in the list of actors for each movie.
If the actor is found, determine their role in that movie (Hero, Heroine, or Villain) based on their index in the actors list.
Append the movie name to the corresponding role list.
After iterating through all movies, check if the actor played any roles and print out the roles along with the movie names.
Test the function with different actor names to ensure it works correctly.


movies = {
        'Darr': ['sunny', 'juhi', 'sharukh'],
        'Bahubali': ['prabhas', 'Anushka', 'Rana'],
        'Baazigar': ['Ajay', 'Kajol', 'sharukh'],
        'KGF2': ['Yash', 'srinidhi', 'Sanjay Dutt'],
        'Khalnayak': ['Jackie', 'Madhuri', 'Sanjay Dutt'],
        'DDLJ': ['Sharukh', 'kajol', 'amrish puri'],
        'MunnaBhaiMBBS': ['Sanjay Dutt', 'Gracy Singh', 'Boman Irani']
    }

In [1]:
movies = {
        'Darr': ['sunny', 'juhi', 'sharukh'],
        'Bahubali': ['prabhas', 'Anushka', 'Rana'],
        'Baazigar': ['Ajay', 'Kajol', 'sharukh'],
        'KGF2': ['Yash', 'srinidhi', 'Sanjay Dutt'],
        'Khalnayak': ['Jackie', 'Madhuri', 'Sanjay Dutt'],
        'DDLJ': ['Sharukh', 'kajol', 'amrish puri'],
        'MunnaBhaiMBBS': ['Sanjay Dutt', 'Gracy Singh', 'Boman Irani']
    }

In [6]:
def role(actors_name):
    movies = {
        'Darr': ['sunny', 'juhi', 'sharukh'],
        'Bahubali': ['prabhas', 'Anushka', 'Rana'],
        'Baazigar': ['Ajay', 'Kajol', 'sharukh'],
        'KGF2': ['Yash', 'srinidhi', 'Sanjay Dutt'],
        'Khalnayak': ['Jackie', 'Madhuri', 'Sanjay Dutt'],
        'DDLJ': ['Sharukh', 'kajol', 'amrish puri'],
        'MunnaBhaiMBBS': ['Sanjay Dutt', 'Gracy Singh', 'Boman Irani']
    }
    
    hero =[]
    heroine =[]
    villian =[]
    
    for movies,actors in movies.items():
        if actors_name in actors:
            if actors.index(actors_name) == 0:
                hero.append(movies)
            elif actors.index(actors_name)==1:
                 heroine.append(movies)   
            else:
                 villian.append(movies)
                 
    if hero:
        print(f"{actors_name} acted as hero in {hero}") 
    if heroine:
        print(f"{actors_name} acted as heroine in {heroine}") 
    if villian:
        print(f"{actors_name} acted as villian in {villian}")

In [7]:
role('Anushka')

Anushka acted as heroine in ['Bahubali']

In [8]:
role('Sanjay Dutt')

Sanjay Dutt acted as hero in ['MunnaBhaiMBBS']
Sanjay Dutt acted as villian in ['KGF2', 'Khalnayak']

In [1]:
concatenated_string = lambda first_name,last_name :f"{first_name}{last_name}"
first_name = "sowndarya"
last_name = "songappan"

full_name = concatenated_string(first_name,last_name)

full_name

'sowndaryasongappan'

In [4]:
function = lambda x:x(int,float)

print(type(22))
print(type(5.0))

<class 'int'>
<class 'float'>

In [5]:
numbers = [1, 2, 3, 4, 5]

doubled_numbers = list(map(lambda x: x * 2, numbers))

doubled_numbers

[2, 4, 6, 8, 10]

In [10]:
i = range(10)
square_root = {i:i**2 for i in range(10)}
square_root

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [11]:
numbers = [-10, 0, 5, -3, 8, -2, 12]

positive_numbers = list(filter(lambda x: x > 0, numbers))
positive_numbers

[5, 8, 12]

In [12]:
words = ["apple", "banana", "apricot", "cherry", "avocado", "grape", "almond"]

words_starting_with_a = list(filter(lambda word: word.startswith('a'), words))

print(words_starting_with_a)

['apple', 'apricot', 'avocado', 'almond']

In [13]:
def add(x, y):
    return x + y

def sub(x, y):
    return x - y

def multiply(x, y):
    return x * y


def divide(x, y):
    if y == 0:
        return "Error: Division by zero"
    return x / y

def calculate(operation, x, y):
    operations = {
        "add": add,
        "sub": sub,
        "multiply": multiply,
        "divide": divide
    }
    
    if operation in operations:
        return operations[operation](x, y)
    else:
        return "Invalid operation"

x = 10
y = 5

print(calculate("add", x, y))     
print(calculate("sub", x, y))      
print(calculate("multiply", x, y)) 
print(calculate("divide", x, y))   
print(calculate("divide", x, 0))   
print(calculate("mod", x, y))

15
5
50
2.0
Error: Division by zero
Invalid operation

In [ ]:
user_dict = {}
for _ in  range(5):
    key= input("Enter key:")
    value = input("Enter value:")
    user_dict[key]=value
print(user_dict)

In [ ]:
class average_rating:
    
 def __init__(self,movie_name, rating):
    self.movie_name = movie_name
    self.rating = rating


def get_average_rating():
    if len(self.rating) == 0:
        return 0
    total_rating = sum(self.rating.values())
    average_rating = total_rating / len(movie_ratings)
    return round(average_rating, 2)

In [17]:

rating = {}
for i in range(3):
    
    key = str(input("Enter a movie:")) 
    value = float(input("Enter a rating:"))
    rating[key]=value   
print(rating)

{'ush': 67.4, 'the': 9.7, 'hhh': 8.6}

In [18]:
movies = ['End game', 'The shawshank', 'Redemption', 'Jurassic park', 'Twilight']

rating = {
    'End game': [9.2],
    'The shawshank': [8.7],
    'Redemption': [8.9],
    'Jurassic park': [7.5],
    'Twilight': [5.3]}

In [20]:
def movies_rating(rating_list):
    return sum(rating_list)/len(rating_list)
for name in movies:
    print(f"average rating for {name}:", movies_rating(rating[name]))

average rating for End game: 9.2
average rating for The shawshank: 8.7
average rating for Redemption: 8.9
average rating for Jurassic park: 7.5
average rating for Twilight: 5.3