In [1]:
print('sowndarya')

sowndarya

In [2]:
print('cinemas')

cinemas

In [3]:
_abc123 = 78
print (_abc123)

78

In [1]:
true = 100
print (true)

100

In [2]:
#advfnn

In [3]:
x=10#integer
y="john"#string
z=3.14#float

In [ ]:
type(x)#finding the tpe of the varaiable
x=5

In [4]:
#check the type of a variable
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
x='s'
print(x)

y="new value"
print(y)

s
new value

In [6]:
import sys

p= 10
Q = "hello,world!"
s = [1,2,3,4,5]

print("ID of :",id(p))# ID of the object
print("ID of:",id(Q))# ID OF the object
print("storage size of:", sys.getsizeof(p),"bytes" )# size of the object
print("storage size of:",sys.getsizeof (Q),"bytes" )# size of the oject

ID of : 140725125708504
ID of: 2364880317424
storage size of: 28 bytes
storage size of: 53 bytes

In [7]:
#value 5 and 6 are assigned to variables a and b
a=5
b=5
c= (sys.getsizeof(b))
a==b #(== has a different meaning, we will understand later)
a is b
c

28

In [8]:
shashi1 = 3+3
shashi = "sa"+"meer"
print(shashi1)
shashi

6

'sameer'

In [4]:
a,b,c = 5, 'certisured', 10
# a=5
# b=certisured
# c= 10
print('a is' ,a)
print(b)
print(c)

a is 5
certisured
10

In [9]:
e=f=g=65
print(e)
print(f)

65
65

In [10]:
s = input("enter a number")
s

'4'

In [5]:
aa= int(input('enter a number:'))
yy= int(input('enter a number1:'))
z = aa+yy
print(z)
#def add(aa,yy):
# return (aa+yy)

11

In [6]:
bb= float(input('enter a number:'))
cc= float(input('enter a number1:'))
d = bb+cc
print(d)
#def add(bb,cc):
# return (bb+cc)

13.0

In [57]:
name =input ('enter your name:')

print(f"my name is {name}")
print('my name is {}'.format(name))

my name is guna
my name is guna

# arithmatic operators

In [3]:
a=3
b=6
print('a is {} b is{}'.format(a,b))
print('a is{a} b is {b}'. format(a=4,b=7))

a is 3 b is6
a is4 b is 7

In [4]:
num1=7
num2=4
num3= num1+num2
print(num3)

11

In [5]:
a =10
b =20
a+b

30

In [6]:
a =10
b =20
a-b

-10

In [7]:
a =10
b =20
a*b

200

In [8]:
a =10
b =20
a/b

0.5

In [11]:
a =25
b =20
a%b

5

In [10]:
a =16
b =5
a//b #divisible by num

0

In [12]:
19//3

6

In [14]:
a =5
b =3
a**b

125

In [15]:
2**3

8

In [16]:
num1=7
num2=4
num1-num2

3

In [17]:
num1=7
num2=4
num1>num2

True

In [18]:
7>4.1

True

In [19]:
num1=7
num2=4
num1<num2

False

In [20]:
num1=7
num2=4
num1==num2

False

In [21]:
4==4

True

In [23]:
7==4

False

In [24]:
num1=7
num2=4
num1!=num2

True

In [25]:
num1=4
num2=4
num1>=num2

True

In [26]:
num1=7
num2=4
num1<=num2

False

logical operator

In [27]:
True and False

False

In [28]:
True or False

True

In [29]:
a=7
b=5
a>b and a<=b

False

In [30]:
a=7
b=5
a<b or b>a

False

In [31]:
not True

False

In [33]:
a= []
not a

True

In [32]:
a= [1,2,3,4]
not a

False

4.Bitwise operator

In [34]:
10&5

0

In [35]:
3|4

7

In [36]:
7^4

3

In [37]:
~9

-10

In [38]:
~-3

2

In [40]:
10<<2

40

In [45]:
10<<1

20

In [44]:
10>>2

2

In [46]:
157>>2

39

In [47]:
4>>2

1

In [48]:
num1=7
print(num1)

7

In [49]:
num1=7
num2=4
num1+=num2
print(num1)

11

In [50]:
num1=7
num2=4
num1-=num2
print(num1)

3

In [51]:
num1=7
num2=4
num1*=num2
print(num1)

28

In [52]:
num1=7
num2=4
num1/=num2
print(num1)

1.75

In [53]:
num1=7
num2=4
num1%=num2
print(num1)

3

In [54]:
num1=7
num2=4
num1**=num2
print(num1)

2401

In [56]:
49*49

2401

In [55]:
num1=7
num2=4
num1//=num2
print(num1)

1

6. Membership operatorS

In [ ]:
#in
#not in

In [1]:
4 not in [1,2,3]

True

In [2]:
"help" in "stupidity"

False

In [3]:
2 in (1,2,3)

True

In [4]:
"help" not in "stupidity"

True

7. Identity operators

check whether two values are identical. python has 2 identity operators as well:

is
is not

In [5]:
2 is 2.0

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\admin\AppData\Local\Temp\ipykernel_12928\700261715.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  2 is 2.0

False

In [6]:
x=["apple","banana"]
y=["apple","banana"]
print(x==y)
print(x is y)
print(x is not y)
print(id(x))
print(id(y))

True
False
True
1897612760448
1897612422912

In [7]:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)
print(id(x))
print(id(z))
print(id(y))

True
1897612423744
1897612423744
1897612782592

In [8]:
a=8
b=a
a is b

True

In [9]:
0 is not False

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\admin\AppData\Local\Temp\ipykernel_12928\1166683470.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  0 is not False

True

In [1]:
# Variable declarations
int_var = 10         # Integer
float_var = 3.14     # Float
str_var = "Hello"    # String

print (int_var, float_var, str_var)

10 3.14 Hello

In [2]:
# Arithmetic operations
a = 10
b = 5

print ("Addition:", a + b)    
print ("Subtraction:", a - b)    
print ("Multiplication:", a * b)  
print ("Division:", a / b)       
print ("Modulus:", a % b)        
print ("Exponentiation:", a ** b) 
print ("Floor Division:", a // b)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Modulus: 0
Exponentiation: 100000
Floor Division: 2

In [3]:
# Comparison operations
x = 10
y = 20

print("x == y:", x == y)  
print("x! = y:", x!= y)  
print("x > y:", x > y)    
print("x < y:", x < y)    
print("x >= y:", x >= y)  
print ("x <= y:", x <= y)

x == y: False
x! = y: True
x > y: False
x < y: True
x >= y: False
x <= y: True

In [4]:
# Logical operations
a = True
b = False

print("a and b:", a and b)  
print("a or b:", a or b)    
print("not a:", not a)

a and b: False
a or b: True
not a: False

In [5]:
# Identity operations
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print("a is b:", a is b)       
print("a is c:", a is c)       
print("a is not b:", a is not b) 
print("a is not c:", a is not c)

a is b: False
a is c: True
a is not b: True
a is not c: False

In [6]:
# Assignment operations
x = 5
x += 3 
print("x += 3:", x)  

x -= 2  
print("x -= 2:", x)  

x *= 4  
print("x *= 4:", x)  

x /= 6  
print("x /= 6:", x)  

x %= 3  
print ("x %= 3:", x)

x += 3: 8
x -= 2: 6
x *= 4: 24
x /= 6: 4.0
x %= 3: 1.0

In [ ]:
# Bitwise operations
a = 10 # 1010 in binary 
b = 4   # 0100 in binary

print("a & b:", a & b)  
print("a | b:", a | b)  
print("a ^ b:", a ^ b)  
print("~a:", ~a)       
print("a << 1:", a << 1)  
print("a >> 1:", a >> 1)

a & b: 0
a | b: 14
a ^ b: 14
~a: -11
a << 1: 20
a >> 1: 5

In [7]:
# Membership operations
my_list = [1, 2, 3, 4, 5]

print ("2 in my_list:", 2 in my_list)   
print ("6 not in my_list:", 6 not in my_list)

2 in my_list: True
6 not in my_list: True

In [8]:
def count_char_in_string(input_string, char):
    return input_string.count(char)

# Example usage
result = count_char_in_string("hello world", "l")
print("Character 'l' appears:", result, "times")

Character 'l' appears: 3 times

In [9]:
# Swapping without a third variable
a = 5
b = 10

a, b = b, a

print("After swapping: a =", a, "b =", b)

After swapping: a = 10 b = 5