Range Function:

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [4]:
numbers =[1,2,3,4,5,6,7,8,9]

for num in numbers:
    if (num%2==0):
        print("even:",num)
    else:
        print("odd:",num)

odd: 1
even: 2
odd: 3
even: 4
odd: 5
even: 6
odd: 7
even: 8
odd: 9

In [5]:
a = ['a','b','c','d','e',]

for i in range(len(a)):
    print(a[i])

a
b
c
d
e

In [1]:
#creating tables

a= int(input("Numbers: "))
for i in range(1,11):
    print(a,'x',i,'=',a*i)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [2]:
n= int(input("Enter the number: "))
c= int(input('Till:'))
for i in range(n,n*c+1,n):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [5]:
planets =['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
Planet_to_initial = { planet: planet[0] for planet in planets}
Planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [11]:
planets =['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
Planet_to_initial = { planet: planet[0] for planet in planets if (len(planet)<6)}
Planet_to_initial

{'Venus': 'V', 'Earth': 'E', 'Mars': 'M'}

In [10]:
planets =['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
Planet_to_initial = { planet: planet[0] for planet in planets if planet != 'Earth'}
Planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [1]:
number = float(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

In [2]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

The number is even.

In [3]:
age = int(input("Enter your age: "))
if age < 13:
    print("Child")
elif age < 20:
    print("Teen")
elif age < 60:
    print("Adult")
else:
    print("Senior")

Adult

In [4]:
score = float(input("Enter your score: "))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print(f"Your grade is {grade}.")

Your grade is A.

In [5]:
text = input("Enter a string: ")
if text == text[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is not a palindrome.

In [6]:
char = input("Enter a character: ").lower()
if char in 'aeiou':
    print("The character is a vowel.")
else:
    print("The character is a consonant.")

The character is a consonant.

In [7]:
number = int(input("Enter a number: "))
if number % 4 == 0 and number % 5 == 0:
    print("The number is divisible by both 4 and 5.")
elif number % 4 == 0:
    print("The number is divisible by 4 only.")
elif number % 5 == 0:
    print("The number is divisible by 5 only.")
else:
    print("The number is not divisible by 4 or 5.")

The number is divisible by both 4 and 5.

In [8]:
players = str(input('enter a name:'))
if players== "virat kholi" and players =="suresh raina":
    print("virat kholi and suresh raina won the match.")
elif  players== "virat kholi":
    print("virat kholi won the match.")
elif  players== "suresh raina":
    print("suresh raina won the match.")   
else:
    print("Both are not won the match.")

virat kholi won the match.

loop functions

In [32]:
user_dict = {}
for _ in  range(5):
    key= input("Enter key:")
    value = input("Enter value:")
    user_dict[key]=value
print(user_dict)

{'5': 'sam', '': 'sowndarya ', '23': 'sowwmya', '25': 'ravi'}

In [33]:
a = int(input("numbers:"))
if a<2:
    print("not a prime number")
else:
    prime = True
    for i in range(2,a):
        if a%i ==0:
            prime=False 
            break
    if prime:
        print(a, "is prime numbers")
    else:
        print (a,"is not a prime numbers" )

5 is prime numbers

In [34]:
a= range(50)
even_list =[]
for i in a:
    if 1%2!=0:
        even_list.append(i)
print(even_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [36]:
a = (1,2,3,4,5,6,7,8)
_sum =0
for i in a:
    _sum+=i
print("sum of all elements in the given tuple is",_sum)

sum of all elements in the given tuple is 36

In [52]:
a = [1,2,3,4,5,6,7,8,9]
_sum =0
for element in a:
    _sum+=element
print(_sum)

45

In [53]:
message = "Hello, Pthon!"
for char in message:
    print(char)

H
e
l
l
o
,

P
t
h
o
n
!

nested for loops

In [40]:
a=[[1,2,3],[4,5,6],[6,7,8]]
prod = 1
b=[]
for i in a:
    for j in i:
        prod *=j
    b.append(prod) 
print(b)

[6, 720, 241920]

In [41]:
captains ={}
captains ["India"] = "virat kohli"
captains['pakistan'] ="Babar Azam"
captains["Australia"] = "Tim Paine"
captains["South Africa"] = "Du Plesis"
for i in captains:
    a=(i+':'+captains[i])
    print(a)

India:virat kohli
pakistan:Babar Azam
Australia:Tim Paine
South Africa:Du Plesis

while loop

In [42]:
count =0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [43]:
total = 0
count=1
while total <10:
    total+= count
    count +=1
print(f"The sum is {total}")

The sum is 10

In [45]:
secret_number = 7
guess =0
while guess !=secret_number:
    guess = int(input("guess the secret number:"))
print ("congratulations! you guessed the secret number.")

congratulations! you guessed the secret number.

In [46]:
x =[0,1,2,3,4]
length = 0
while length<len(x):
    print(x)
    length+=1

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [1]:
a = range(11)

for b in a:
    if b%2==0:
        continue
    print(b)

1
3
5
7
9

In [47]:
z=0
while z<3:
    print('z is',z)
    z+=1

z is 0
z is 1
z is 2

In [48]:
z=0
while z<3:
    if z==0:
        print("z value of iteration 1",z)
        z+=1
    elif z==1:
        print("z value of iteration 2",z)
        z+=1
    else:
        print("z value of iteration 3",z)
        z+=1

z value of iteration 1 0
z value of iteration 2 1
z value of iteration 3 2

In [51]:
a =[1,2,3,4,5]
_sum = 0
index = 0
while index<len(a):
    _sum+= a[index]
    index+=1
print('sum of all elements in the given list is:',_sum)

sum of all elements in the given list is: 15

nested loop

In [2]:
a=['kruthick','chandan','shsshi','madesh','harshitha','hema','benki']
for i in a:
    if len(i)<=6:
        continue
    print(i)

kruthick
chandan
harshitha

In [3]:
a=['kruthick','chandan','shsshi','madesh','harshitha','hema','benki']
for i in a:
    if i=='hema':
        break
    print(i)

kruthick
chandan
shsshi
madesh
harshitha

In [4]:
a= range(120)
for i in a:
    if i%2==0:
        print(i)
    if i==44:
            break

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

In [5]:
numbers =[10,20,30,40,50]
for num in numbers:
    if num==30:
        pass
    print(num)

10
20
30
40
50

In [1]:
for i in range(10):
    if i==5:
       pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
count = 0
while count< 5:
    if count ==3:
        break
    print(count)
    count +=1

0
1
2

In [10]:
count = 1
while count< 21:
    if count ==9:
        break
    print(count)
    count +=2

1
3
5
7

continue statement:

In [10]:
for i in range(5):
    if i==2:
        continue
    print(i)

0
1
3
4

In [11]:
numbers =[1,2,3,4,5,6,7,8,9,10]

for i in enumerate(numbers):
    if i[0]==3:
        continue
    print(i)

(0, 1)
(1, 2)
(2, 3)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [12]:
numbers =[1,2,3,4,5,6,7,8,9,10]

for num in numbers:
    if num%2 !=0:
        continue
    print(f"{num}is an even numbers.")

2is an even numbers.
4is an even numbers.
6is an even numbers.
8is an even numbers.
10is an even numbers.

In [13]:
for num in range(0,5):
    if num ==3:
        continue
    print(num, end=", ")

0, 1, 2, 4,

natural numbers using for loop

In [12]:
my_string="PYTHON"
x=0
for i in my_string:
    x+=1
    print(my_string[0:x])

P
PY
PYT
PYTH
PYTHO
PYTHON

In [18]:
print("\nInvert pyramid")
for i in range(5):
    x='*'
    x=x*i
    print(f'{x: <10}')

Invert pyramid

*
**
***
****

In [19]:
print("\nInvert pyramid")
for i in range(5):
    x='*'
    x=x*(5-i)
    print(f'{x: >10}')

Invert pyramid
     *****
      ****
       ***
        **
         *

list comprehension

In [20]:
mystring = "WELCOME"
mylist =[i for i in mystring]
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [22]:
mylist1 =[i for i in range (40)if i%2==0 ]
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [23]:
mylist2 =[num**2 for num in range(10)]
mylist2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
mystr = "one 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [27]:
mystr = "one 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['o',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

dictionary comprehension

In [28]:
double ={i:i*2 for i in range(10)}
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [29]:
square ={i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [30]:
key =['one','two', 'three','four','five']
value = [1,2,3,4,5]
mydict ={k:v for (k,v)in zip(key, value)}
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [31]:
str1 ='abcdefghijklmnopqrstuvwxyz'
mydict3 = {i:i.upper()for i in str1}
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}