primitive types
1. INTEGER
MOST COMMON DATA TYPE USED TO STORE NUMBERS WITHOUT DECIMAL OR FUNCTIONAL COMPONENT.

In [37]:
a=5
b=-5
print(type(b))
b

<class 'int'>

-5

In [38]:
c=45
n=-75
type(n)

int

2. float

Numeric data type used to store number of fractional component or decimal

In [39]:
a=5.623
type(a)

float

In [40]:
b=-5.25
print(type(b))
b

<class 'float'>

-5.25

3. string

In [1]:
#single quotes
single_quote_str = 'Hello, World!'

#double quotes
double_quote_str = "Hello, World!"

#triple quotes (for multi-line strings)
triple_single_quote_str = '''This is a
multi-line string.'''

triple_double_quote_str = """This is also a
multi-line string."""

triple_single_quote_str

'This is a\nmulti-line string.'

In [42]:
s= "python"
first_char = s[0]
last_char = s[-1]

print(first_char, last_char)

s= "python"
substring = s[1:4]
substring

p n

'yth'

In [43]:
s= "Hello, World!"
length = len(s)
length

13

In [2]:
s= "Python"
length = len(s)
length

6

In [44]:
# string concatenation
s1 = "Hello"
s2 = "World"
s3 = s1 + ", "+ s2 +"|"
s3

'Hello, World|'

In [45]:
# repeatation
s= "Hello"
s_repeated = s*3
s_repeated

'HelloHelloHello'

In [46]:
#case conversion
s="Hello, World!"
s_upper = s.upper()
s_lower = s.lower()
s_title = s.title()
s_capitalize = s.capitalize()

print(s_upper)
print(s_lower)
print(s_title)
print(s_capitalize)

HELLO, WORLD!
hello, world!
Hello, World!
Hello, world!

In [47]:
# finding substrings
s = "Hello, World!"
index = s.find ("World")
rindex = s.rfind ("World") # (search from the right)
print (index)# 7
print(rindex)# 7

7
7

In [48]:
# replacing substring
s= "Hello, World!"
s_replace = s.replace("World", "python")
s_replace

'Hello, python!'

In [49]:
a= "ML"
b= '10'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [50]:
# concatention
str1 = 'Hello'
str2 = ' World'


result = str1+str2
print(result)

Hello World

In [51]:
# checking string properties
s= "Hello"
is_alpha = s.isalpha()
is_digit = s.isdigit()
is_alnum = s.isalnum()
is_upper = s.isupper()
is_lower = s.islower()
print(is_alpha, is_digit, is_alnum, is_upper, is_lower)

True False True False False

In [52]:
s ="Hello, World!"
s_split = s.split(",") # ["Hello, World!"]
s_join ="-".join (s_split)
s_join

'Hello- World!'

In [53]:
name = "World"
s1 = "Hello, %s!" % name
s2 = "Hello,{}!".format(name)
s3 = f"Hello, {name}!"
s1

'Hello, World!'

4.Boolean

true or false

In [54]:
a = True
print('The data type of a:',type(a))
print('The value of a:',bool(a))

The data type of a: <class 'bool'>
The value of a: True

In [55]:
is_true = True
is_false = False

print(is_true)
print(is_false)

True
False

In [56]:
x= 5
y= 10

# camparision operators
is_equal = x==y
is_not_equal = x != y

print(is_equal)
print(is_not_equal)

False
True

In [57]:
a= True
b= False

# logical AND
result_and = a and b


# logical OR
result_or = a or b

# logical NOT
result_not = not a 

print(result_not, result_or, result_and)

False True False

In [58]:
number = 42

if number > 50:
    print("The number is greater than 50.")
else:
    print ("The number is not greater than 50.")

The number is not greater than 50.

In [59]:
no_value = None
type(no_value)

NoneType

primitive data type conversion

data type conversion, also known as type casting

In [60]:
a = 5
# integer to float
b = float(a)
print('b is{} and type of b is{}'.format(b, type(b)))

b is5.0 and type of b is<class 'float'>

In [61]:
a=5.0
#float to integer
a=int(b)
print('a is{}and data type of a is {}'.format(a,type(a)))

a is5and data type of a is <class 'int'>

In [62]:
#string to integer or float
c= '10'#value should be numerical in the string
print(type(c))
d,e= int(c),float(c)
print('d is {}and e is {}'.format (d,e))
print(type(d), type(e))

<class 'str'>
d is 10and e is 10.0
<class 'int'> <class 'float'>

In [177]:
#invalid conversion
sa = 'sameer'
sam = str(sa), str(sa)
print(sam) # value error

('sameer', 'sameer')

In [ ]:
a=int(input('tell a number'))
b=int(input('tell second number'))
c=a+b
print('the sum is',c)
print("type of c",type(c),float(c))

the sum is 12
type of c <class 'int'> 12.0

In [ ]:
#float to string
a= 2.5
b= str(a)
print(b)
print(type(b))

2.5
<class 'str'>

In [ ]:
#int to string
a= 5
b= str(a)
print(b)
print(type(b))

5
<class 'str'>

In [ ]:
e  = 2.7
f = int(e)
print(f)
print(type(f))

2
<class 'int'>

python list are similar to array

In [1]:
#creating a list
fruits= ["apple","banana","orange","grape"]

In [2]:
# accessing elements
print(fruits[1])

banana

In [3]:
# modifying elements
fruits[1]= "kiwi"
print(fruits)

['apple', 'kiwi', 'orange', 'grape']

In [4]:
#adding elements
fruits.append("melon")
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'melon']

In [5]:
fruits.append(["pine apple","banana"])
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'melon', ['pine apple', 'banana']]

In [6]:
fruits[5][0]

'pine apple'

In [7]:
fruits.extend(["pine apple", "banana"])
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'melon', ['pine apple', 'banana'], 'pine apple', 'banana']

In [8]:
fruits[6]

'pine apple'

In [9]:
#insert
#insert in elements at a specific index..
fruits.insert(1, "pear")
print(fruits)

['apple', 'pear', 'kiwi', 'orange', 'grape', 'melon', ['pine apple', 'banana'], 'pine apple', 'banana']

In [10]:
#pop
#removes and returns the elements data the specified index.
popped_fruits = fruits.pop(7)
print(popped_fruits )
print (fruits)

pine apple
['apple', 'pear', 'kiwi', 'orange', 'grape', 'melon', ['pine apple', 'banana'], 'banana']

In [11]:
#removing elements
#removes the first occurance of the specified elements.
fruits.remove("melon")
print(fruits)

['apple', 'pear', 'kiwi', 'orange', 'grape', ['pine apple', 'banana'], 'banana']

In [12]:
#list length
#finishing length of the list
print(len(fruits))

7

In [15]:
#index
# returns the index of the first occurance of the specified elements
index_of_apple = fruits.index('grape')
print(index_of_apple)

4

In [20]:
fruits.append('apple')
fruits

['apple', 'pear', 'kiwi', 'orange', 'grape', ['pine apple', 'banana'], 'apple']

In [21]:
fruits.pop(6)
print(fruits)

['apple', 'pear', 'kiwi', 'orange', 'grape', ['pine apple', 'banana']]

In [52]:
fruits.insert(7,56)
print(fruits)

['apple', 'grape', 'kiwi', 'orange', 'pear', ['pine apple', 'banana'], 56]

In [53]:
#count
#returns the numbers of occurance of the specified elements
num_apples = fruits.count("apple")
print(num_apples)

1

In [54]:
# reverse 
# reverse the orders of the elements in the list 
fruits.reverse()
print(fruits)

[56, ['pine apple', 'banana'], 'pear', 'orange', 'kiwi', 'grape', 'apple']

In [55]:
#display final list
print("final list:",fruits)

final list: [56, ['pine apple', 'banana'], 'pear', 'orange', 'kiwi', 'grape', 'apple']

In [56]:
f=fruits.copy()
print (f)

[56, ['pine apple', 'banana'], 'pear', 'orange', 'kiwi', 'grape', 'apple']

In [57]:
fruits.remove(56)
fruits

[['pine apple', 'banana'], 'pear', 'orange', 'kiwi', 'grape', 'apple']

In [60]:
#sort
#sorts the elements of the list in ascending order.
#sorting the list in default ascending order

fruits.sort(reverse=True)
print(fruits)

TypeError: '<' not supported between instances of 'list' and 'str'

list of integers

In [161]:
list1 =[1,2,3,4,-4,0,]
print(type(list1),"/n")

<class 'list'> /n

In [162]:
#list of floats
list2 = [1.01,2.8,3.4,7.8]

In [163]:
list3 = ['a', 'b', 'c', 'd']

In [164]:
list4 = [1,1.01,'a']

In [165]:
print(len(list1))

6

In [166]:
print(type(list2))
print(list1[0])
print(type(list1[0]))
print(type(list2[0]))
print(type(list3[0]))
print(type(list4[0]))

<class 'list'>
1
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>

accessing elements and slicing

In [167]:
list5 =['a','b','c','d','e','f','g','h','i']

list5[2:7:2]

['c', 'e', 'g']

In [168]:
list5[1:4]

['b', 'c', 'd']

In [169]:
list5[2:5:1]

['c', 'd', 'e']

In [170]:
list5

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [171]:
list5[-2]

'h'

In [173]:
list5[-2:-1]

['h']

In [174]:
list5[-3:]

['g', 'h', 'i']

In [175]:
list5.clear()
print(list5)

[]

In [5]:
sam = [5,9,4,7,5,9,5,7,2,3,'no',5.12]

In [6]:
sam.pop(10)
print(sam)

[5, 9, 4, 7, 5, 9, 5, 7, 2, 3, 5.12]

In [7]:
sam.sort()
print(sam)

[2, 3, 4, 5, 5, 5, 5.12, 7, 7, 9, 9]

In [19]:
sam.sort(reverse = True)
print(sam)

[9, 9, 7, 7, 5.12, 5, 5, 5, 4, 3, 2]

In [7]:
#list od lists
x = [1,2,3]
y = [5,6,7]
s= x+y
z=[x,y]
print(s)
print(z)

[1, 2, 3, 5, 6, 7]
[[1, 2, 3], [5, 6, 7]]

In [4]:
# ceating a tuple
coordinates =(3,7,4)
print(coordinates)

(3, 7, 4)

In [5]:
#accessing elements
x = coordinates [0]
y = coordinates [1]
x,y

(3, 7)

In [6]:
coordinates.index(4)

2

In [8]:
coordinates.count(3)

1

In [9]:
coordinates.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
a,b,c = coordinates
print(a,b,c)

3 7 4

In [11]:
coordinates[0] =5

TypeError: 'tuple' object does not support item assignment

In [12]:
new_coordinates = coordinates + (5,4)
new_coordinates

(3, 7, 4, 5, 4)

In [13]:
print("original coordinates:", coordinates)
print("new coordinates:", new_coordinates)

original coordinates: (3, 7, 4)
new coordinates: (3, 7, 4, 5, 4)

In [14]:
T1 = (1,2,3)
T2 = (4,5,6)
T3 = T1+T2
print(T3)
type(T3)

(1, 2, 3, 4, 5, 6)

tuple

In [15]:
#accesssing
T3[1]

2

In [16]:
T3[:2]

(1, 2)

In [17]:
T3[1:]

(2, 3, 4, 5, 6)

In [18]:
T3[-1]

6

# operations

In [20]:
T4 =(1,2,3,[5,6])
T4[3].append(5)
T4

(1, 2, 3, [5, 6, 5])

In [23]:
l1=[1,2,3]
l2=[4,5,6]
z= (l1,l2)
z

([1, 2, 3], [4, 5, 6])

In [24]:
a = ("q",1,"c",5,6,9,10,25,368,52)
type(a)

tuple

In [25]:
a[5:9]

(9, 10, 25, 368)

Dictionary

In [51]:
#creating dictonaries
student_info = {'name':['john','Bhavan'], 'age': [20, 23], 'grade': ['A', 'B']}
student_info

{'name': ['john', 'Bhavan'], 'age': [20, 23], 'grade': ['A', 'B']}

In [52]:
new_dict = student_info.copy()
print(new_dict)

{'name': ['john', 'Bhavan'], 'age': [20, 23], 'grade': ['A', 'B']}

In [53]:
student_info  is new_dict

False

In [54]:
#accessing value
name = student_info['name']
age = student_info['age']

In [55]:
# get method
age = new_dict.get('age')
print(age)

[20, 23]

In [56]:
# item method
items = new_dict.items()
print(items)

dict_items([('name', ['john', 'Bhavan']), ('age', [20, 23]), ('grade', ['A', 'B'])])

In [57]:
#key method
keys = new_dict.keys()
print(keys)

dict_keys(['name', 'age', 'grade'])

In [58]:
# values method
values = new_dict.values()
print(values)

dict_values([['john', 'Bhavan'], [20, 23], ['A', 'B']])

In [60]:
#modifying the value
student_info['grade'][0]= 'B'
print(student_info)

#usimg update method
student_info.update({'City': ['Bangalore', 'Mumbai']})
print(student_info)

#using setdefault method
country = student_info.setdefault('country', 'India')
print(country)
print(student_info)

{'name': ['john', 'Bhavan'], 'age': [20, 23], 'grade': ['B', 'B'], 'City': ['Bangalore', 'Mumbai'], 'country': 'India'}
{'name': ['john', 'Bhavan'], 'age': [20, 23], 'grade': ['B', 'B'], 'City': ['Bangalore', 'Mumbai'], 'country': 'India'}
India
{'name': ['john', 'Bhavan'], 'age': [20, 23], 'grade': ['B', 'B'], 'City': ['Bangalore', 'Mumbai'], 'country': 'India'}

In [61]:
student_info.keys()

dict_keys(['name', 'age', 'grade', 'City', 'country'])

In [62]:
#removing key values
del student_info['country']
print(student_info)

{'name': ['john', 'Bhavan'], 'age': [20, 23], 'grade': ['B', 'B'], 'City': ['Bangalore', 'Mumbai']}

In [63]:

#using pop method
popi = student_info.pop('grade')
print(popi)
print(student_info)

['B', 'B']
{'name': ['john', 'Bhavan'], 'age': [20, 23], 'City': ['Bangalore', 'Mumbai']}

In [65]:
#determining the number
length = len(student_info)
print(length)

3

In [74]:
captains ={}
captains ["India"] = "virat kohli"
captains['pakistan'] ="Babar Azam"
captains["Australia"] = "Tim Paine"
captains["South Africa"] = "Du Plesis"

print(captains)

{'India': 'virat kohli', 'pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': 'Du Plesis'}

In [73]:
captains["India"]

'virat kohli'

In [62]:
captains.get("India")

'virat kohli'

In [63]:
print(captains.pop("India"))

virat kohli

In [38]:
captains

{'pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': 'Du Plesis'}

In [39]:
#let change the captain od india
captains["India"] = 'Rohith Sharma'
captains

{'pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': 'Du Plesis',
 'India': 'Rohith Sharma'}

In [40]:
#add new keys
captains['England'] = 'Ben Stokes'
captains

{'pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': 'Du Plesis',
 'India': 'Rohith Sharma',
 'England': 'Ben Stokes'}

In [41]:
#nested dictionary
captains['England'] = {'T20': 'Ben Stokes','ODI': 'Eoin Morgan', 'Test':'Joe Root'}
print(captains)
captains['England']['ODI']

{'pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': 'Du Plesis', 'India': 'Rohith Sharma', 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}}

'Eoin Morgan'

In [42]:
captains['England']['ODI']

'Eoin Morgan'

In [43]:
c = captains.copy()
print(c)

{'pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': 'Du Plesis', 'India': 'Rohith Sharma', 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}}

In [44]:
items = captains.items()
print(items)

dict_items([('pakistan', 'Babar Azam'), ('Australia', 'Tim Paine'), ('South Africa', 'Du Plesis'), ('India', 'Rohith Sharma'), ('England', {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'})])

In [45]:
values = captains.values()
print(values)

dict_values(['Babar Azam', 'Tim Paine', 'Du Plesis', 'Rohith Sharma', {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}])

In [46]:
keys = captains.keys()
print(keys)

dict_keys(['pakistan', 'Australia', 'South Africa', 'India', 'England'])

In [47]:
length = len('India')
print(length)

5

In [48]:
captains.update({'Itlay':['ketone']})
print(captains)

{'pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': 'Du Plesis', 'India': 'Rohith Sharma', 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}, 'Itlay': ['ketone']}

In [49]:
captains.setdefault('Rohith Sharma')
print(captains)

{'pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': 'Du Plesis', 'India': 'Rohith Sharma', 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}, 'Itlay': ['ketone'], 'Rohith Sharma': None}

In [52]:
del captains['pakistan']
print(captains)

{'Australia': 'Tim Paine', 'South Africa': 'Du Plesis', 'India': 'Rohith Sharma', 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}, 'Itlay': ['ketone'], 'Rohith Sharma': None}

4.sets
collection of unordered items/elements.

In [9]:
unique_numbers = {1,2,3,4,5,1,2}

In [10]:
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 3, 4, 5, 6}

In [11]:
unique_numbers.remove(3)
print(unique_numbers)

{1, 2, 4, 5, 6}

In [86]:
length = len(unique_numbers)
print(length)

5

In [12]:
print(sum(unique_numbers))
print(max(unique_numbers))
print(min(unique_numbers))
print(sorted(unique_numbers))
print(len(unique_numbers))
print(sorted(unique_numbers, reverse=True))

18
6
1
[1, 2, 4, 5, 6]
5
[6, 5, 4, 2, 1]

In [87]:
#set operations
set1 ={1,2,3}
set2 ={3,4,5}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set =set1.difference(set2)
print("union:", union_set)
print("intersection:", intersection_set)
print("difference:", difference_set)

union: {1, 2, 3, 4, 5}
intersection: {3}
difference: {1, 2}

In [88]:
text = "python is powerful, python is versatile, python is fun"
unique_words = set(text.split(' '))
unique_words

{'fun', 'is', 'powerful,', 'python', 'versatile,'}

In [89]:
set1 = {4,3,5,5,6}
set1

{3, 4, 5, 6}

non- primitive data types conversion

In [90]:
#list to tuple
my_list =[1,2,3,4,5]
my_tuple = tuple(my_list)
print(my_tuple)
type(my_tuple)

(1, 2, 3, 4, 5)

tuple

In [91]:
#set to list
my_set = {1,2,3,4,5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [92]:
#from tuple to list
my_tuple= (1,2,3,4,5)
my_list=list(my_tuple)
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [93]:
#list t0 set
my_list = (1,2,2,3,4,4,5)
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [94]:
my_set = {1,2,3,4,5}
my_list = tuple(my_set)
print(my_list)

(1, 2, 3, 4, 5)

In [95]:
#tuple to dictonary
my_tuple = (("apple",5),("banana",2),("orange",3))
my_dict =dict(my_tuple)
print(my_dict)

{'apple': 5, 'banana': 2, 'orange': 3}

In [96]:
#list to dictonary
my_list_of_tuples = [("apple",5),("banana",2),("orange",3)]
my_dict =dict(my_list_of_tuples)
print(my_dict)

{'apple': 5, 'banana': 2, 'orange': 3}

In [97]:
#dictonary to list of tuple
my_dict = {"apple":5,"banana":2,"orange":3}
my_list_of_tuples = list(my_dict.items())
print(my_list_of_tuples)

[('apple', 5), ('banana', 2), ('orange', 3)]

In [99]:
v = [[1,2],[2,6]]
z = dict(v)
z

{1: 2, 2: 6}

In [4]:
No =[5,9,4,7,5,9,5,7,2,3,5.12]

from statistics import mean, median, mode, stdev

print(sum(No))
print(len(No))
print(max(No))
print(min(No))
print(sorted(No))
print(mean(No))
print(median(No))
print(mode(No))
print(stdev(No))

61.12
11
9
2
[2, 3, 4, 5, 5, 5, 5.12, 7, 7, 9, 9]
5.556363636363637
5
5
2.24965451893073

In [2]:
T1 = (1,2,3)
T2 = (4,5,6)
T3 = T1 + T2
print (T3)
type(T3)

(1, 2, 3, 4, 5, 6)

tuple

In [3]:
print(sum(T3))
print(sum(T3))
print(max(T3))
print(min(T3))
print(sorted(T3))
print(mean(T3))
print(median(T3))
print(mode(T3))
print(stdev(T3))

21
21
6
1
[1, 2, 3, 4, 5, 6]
3.5
3.5
1
1.8708286933869707

In [5]:
dic = {'A':1, 'B':2, 'C':3,'D':4,'E':5,'F':6,'G':7,'H':8,'I':9,'J':10,'K':11,'L':12,'M':13,'N':14,'0':15,'P':16,'Q':17}
print(sum(dic.values()))
print(mean(dic.values()))

153
9

In [13]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
print(my_dict.get("banana", 0))

4

In [15]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
print(len(my_dict))

3

In [14]:
my_dict = {"apple": 2, "banana": 4, "cherry": 6}
del my_dict["banana"]
print(my_dict)

{'apple': 2, 'cherry': 6}

In [1]:
9. #Convert a List of Strings to a Dictionary
string_list = ["apple", "banana", "cherry"]
string_dict = {s: len(s) for s in string_list}
print(string_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}

In [2]:
#10. Remove Duplicates from a List of Integers
int_list = [4, 5, 2, 4, 3, 2, 1]
unique_sorted_list = sorted(list(set(int_list)))
print(unique_sorted_list)

[1, 2, 3, 4, 5]

In [61]:
int_list = [4, 5, 2, 4, 3, 2, 1]
unique_sorted_list = sorted(int_list)
print(unique_sorted_list)

[1, 2, 2, 3, 4, 4, 5]

In [3]:
#11. Populate a Dictionary with User Input
user_dict = {}
for _ in range (5):
    key = input ("Enter key: ")
    value = input ("Enter value: ")
    user_dict[key] = value
print(user_dict)

{'sound': '10', 'sumar': '45', 'kirthika': '0', 'daniel': '56', 'suresh ': '45'}

In [4]:
#12. Convert a List of Tuples to a Dictionary
name_age_list = [("Alice", 30), ("Bob", 25), ("Charlie", 35)]
name_age_dict = dict(name_age_list)
print(name_age_dict)

{'Alice': 30, 'Bob': 25, 'Charlie': 35}

In [7]:
##13. Merge Two Dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
#14. Convert a List to a Tuple and Vice Versa
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple) # Output: (1, 2, 3)
my_list_again = list(my_tuple)
print(my_list_again) # Output: [1, 2, 3]

In [6]:
#15. Slicing in Python
#	List Slicing:
my_list = [1, 2, 3, 4, 5]
print (my_list [1:4]) 
#	String Slicing:
my_str = "Hello World"
print (my_str [0:5])

[2, 3, 4]
Hello

In [5]:
#16. Examples of List, Tuple, Dictionary, and Set
	#List:
my_list = [1, 2, 3]
	#Tuple:
my_tuple = (1, 2, 3)
	#Dictionary:
my_dict = {'a': 1, 'b': 2, 'c': 3}
	#Set:
my_set = {1, 2, 3, 2}