In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import mysql.connector
from sqlalchemy import create_engine, types
 
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Load the dataset
df = pd.read_csv(r'C:\Users\admin\Documents\python\EDA\Globar Super store Data Analysis\Global_SuperStore_16.csv', parse_dates=['Order Date', 'Ship Date'])

df.drop('Unnamed: 0', axis=1, inplace=True)

#Define MySQL connection string
engine = create_engine('mysql+mysqlconnector://root:sound@localhost/eda_practice')

#Define data types for MySQL table
dtype_mapping = {
    'Row ID': types.Integer(),
    'Order ID': types.String(50),
    'Order Date': types.DateTime(),
    'Ship Date': types.DateTime(),
    'Ship Mode': types.String(50),
    'Customer ID': types.String(50),
    'Customer Name': types.String(100),
    'Segment': types.String(50),
    'Postal Code': types.Float(),  # Consider checking and handling missing values for postal codes
    'City': types.String(100),
    'State': types.String(50),
    'Country': types.String(50),
    'Region': types.String(50),
    'Market': types.String(50),
    'Product ID': types.String(50),
    'Category': types.String(50),
    'Sub-Category': types.String(50),
    'Product Name': types.String(255),
    'Sales': types.Float(),
    'Quantity': types.Integer(),
    'Discount': types.Float(),
    'Profit': types.Float(),
    'Shipping Cost': types.Float(),
    'Order Priority': types.String(50),
    'Returned': types.String(50)  # Adjust length if needed
}

#Write the DataFrame to the MySQL table, handling null values
df.to_sql(name='global_superstore', con=engine, if_exists='replace', index=False, dtype=dtype_mapping)

print("Data loaded successfully.")

Data loaded successfully.

In [4]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="sound",
    database="eda_practice")

In [5]:
query ="select * from global_superstore;"

In [6]:
df=pd.read_sql(query,conn)
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.1544,40.77,High,None
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.7650,923.63,Critical,None